body[theme="custom-dark"] {
  --clr-green-light: black;
  --moon: var(--clr-white);
  --section1background: var(--clr-grey-1);
  --section2background: var(--clr-black);
  --section3icons: var(--clr-white);
  --textcolor: var(--clr-white);
  --btnbackground: var(--clr-white);
  --btntextcolor: var(--clr-black);
}
